.main{
    background-color: rgb(160, 160, 160);

}

.form-group{
    font-family: fantasy;
    color: rgb(27, 27, 27);
}

  h3{
      font-family: fantasy;
      font-style: normal;
  }

  